a:hover {
	text-decoration: none;
}
/*logo*/
.logo-info {
	width: 100%;
	text-align: center;
}
.logo-info img {
	width: 26px;
	vertical-align: top;
	margin-right: 5px;
}

/*menu*/
#menus li {
	width: 25%;
}
.navbar-nav {
	text-align: center;
	width: 100%;
}
.bounce-bottom {
	float: left;
	width: 23%;
	font-weight: bold;
	line-height: 30px;
}
.nav li:hover {
	background: #e7e7e7;
}

/*main*/
#main .blogtitle {
	font-size: 14px;
	font-weight: bold;
}
#main ul {
	list-style: none;
}
#main ul li {
	border-bottom: 1px solid black;
	padding:10px 0 0 0 ;
}
#main .blogcontent {
	height: 58px;
	overflow: hidden;
}
.time {
	margin-left: 20px;
}
#pageBox {
	width: 100%;
	margin:20px auto;
	text-align: center;
}
#pageBox ul {
	display: inline-block;
	padding:0;
}
#pageBox span {
	cursor: pointer;
}
#pageBox a {
	margin-left: 8px;
	margin-right: 4px;
	color:black;
}
#pageBox .active {
	color:blue;
	font-weight: bold;
}

footer {
	width: 100%;
}
footer p {
	width: 100%;
	text-align: center;
}

@media (max-width:768px) {
	h2 {
		font-size: 25px;
	}
	#pageMain {
		padding:20px;
	}
	.nav {
		margin-left: 5px;
	}
	#main {
		margin-top: -30px;
	}
}














